body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: white;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

* {
  font-family: 'Open Sans', sans-serif;
}
#page-container {
  margin: auto;
  max-width: 800px;
}
h1#person-name {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: bolder;
}

h3 {
  border-bottom: 1px solid;
  font-variant: small-caps;
  background-image: linear-gradient(left, #fff, #808080, #fff);
  font-weight: bold;
}
li {
  list-style: circle;
  font-size: small;
  margin: 3px;
}
#my_pic {
  /*width: 130px;*/
  width: 200px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid;
}
.borderless tbody tr td,
.borderless thead tr th {
  border: none;
}
td:first-child {
  width: 150px;
  font-size: larger;
  text-align: right;
  font-variant: small-caps;
  vertical-align: middle;
}
.item-horizontal {
  display: flex;
}
.item-horizontal li {
  margin-left: 10px;
  list-style: none;
}
.item-horizontal li:before {
  content: "\2663";
  margin-right: 10px;
}
.item-horizontal li:first-child:before {
  content: "";
}
.item-horizontal li:first-child {
  margin-left: 0px;
}
.item-horizontal.subcat {
  font-size: smaller;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: top;
  font-size: medium;
}
.app-items {
  font-variant: small-caps;
  text-transform: capitalize;
}
.time {
  float: right;
  font-size: smaller;
}
#long-td {
  vertical-align: top;
}
p {
  text-align: justify;
}
#vita p:first-of-type {
  margin-top: 100px;
}
#adress > li {
  list-style-type: none;
}
.company {
  font-variant: small-caps;
}
.place {
  font-style: italic;
}
.place:before {
  content: "\2192";
}
#work-line {
  height: 150px;
}

a {
  text-decoration: none;
  color: #09f;
}

@font-face {
  font-family: nexa;
  src: url("/fonts/Nexa-Light.otf");
}

a:hover {
  text-decoration: underline;
}
body {
    background: linear-gradient(to right, seashell, white, seashell);
}

.header-back {
    background: linear-gradient(to right, seashell, #000000, seashell);
}
.masthead img {
  width: 100%;
  max-width: 800px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2,
h3,
ul.nav {
  font-family: 'Orbitron', sans-serif;
}
#home-view {
  width: 480px;
  margin: 0 auto;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 5em;
  color: #fff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 2px;
}
.masthead img {
  width: 100%;
  max-width: 800px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.container {
  width: 100%;
  max-width: 800px;
}
iframe {
  border: 0px;
}
.photoofme {
  max-height: 200px;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.header-back {
  height: 100px;
/*background:black*/
  text-align: center;
}
.full-name {
  font-size: 56px;
  color: #fff;
  font-family: nexa;
  margin: auto;
  margin: auto;
  top: 35px;
}


img {
  max-width: 200px!important;
}

.label {
  margin: 5px;
}
small {
  margin: 5px;
}

#vita h4 {
  background: linear-gradient(to right, seashell, mistyrose, seashell);
}
